.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-#{$gutter} / 2);
  margin-right: calc(-#{$gutter} / 2);
}

.col- {
  &3 {
    width: 25%;
    @include col-gutter;
  }

  &4 {
    width: 33.333333%;
    @include col-gutter;
  }

  &5 {
    width: 41.66666667%;
    @include col-gutter;
  }

  &6 {
    width: 50%;
    @include col-gutter;
  }

  &7 {
    width: 58.333333%;
    @include col-gutter;
  }

  &8 {
    width: 66.66666667%;
    @include col-gutter;
  }
}

@include pad {
  .row-md {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-#{$gutter} / 2);
    margin-right: calc(-#{$gutter} / 2);
  }
  
  .col- {
    &md- {
      &6 {
        width: 50%;
        @include col-gutter;
      }

      &9 {
        width: 75%;
        @include col-gutter;
      }

      &10 {
        width: 83.333333%;
        @include col-gutter;
      }

      &12 {
        width: 100%;
        @include col-gutter;
      }
    }
  }
}

@include mobile {
  .col- {
    &sm- {
      &12 {
        width: 100%;
        @include col-gutter;
      }
    }
  }
}