<footer class="bg-primary">
  <div class="container">
    <div class="d-flex justify-content-between border-bottom-1 border-white pt-7 pb-5 py-sm-4">
      <div>
        <ul class="footer-nav d-flex d-sm-none mb-4">
          <li class="footer-nav-item"><a href="index.html" class="footer-nav-link">首頁</a></li>
          <li class="footer-nav-item"><a href="product.html" class="footer-nav-link">系列鏡框</a></li>
          <li class="footer-nav-item"><a href="store.html" class="footer-nav-link">門市據點</a></li>
          <li class="footer-nav-item"><a href="blog.html" class="footer-nav-link">部落格</a></li>
          <li class="footer-nav-item"><a href="faq.html" class="footer-nav-link">常見問題</a></li>
        </ul>
        <ul>
          <li class="d-flex align-items-center mb-2">
            <span class="material-icons-outlined fs-2 fs-sm-6 text-white mr-3 mr-sm-2">phone</span>
            <a href="tel:0800-000-000" class="fs-4 fs-sm-8 text-white hover">0800-000-000</a>
          </li>
          <li class="d-flex align-items-center">
            <span class="material-icons-outlined fs-2 fs-sm-6 text-white mr-3 mr-sm-2">email</span>
            <a href="mailto:glasses@business.com" class="fs-4 fs-sm-8 text-white hover">glasses@business.com</a>
          </li>
        </ul>
      </div>
      <ul class="d-flex">
        <li class="mr-5 mr-md-3 mr-sm-2"><a href="#" class="icon-link"><img src="../assets/images/ic-social-fb.png" alt="fb"></a></li>
        <li class="mr-5 mr-md-3 mr-sm-2"><a href="#" class="icon-link"><img src="../assets/images/ic_social_ig.png" alt="ig"></a></li>
        <li><a href="#" class="icon-link"><img src="../assets/images/ic_social_line.png" alt="line"></a></li>
      </ul>
    </div>
    <div class="d-flex flex-sm-column justify-content-between align-items-center align-items-sm-start py-5 pb-md-6 pt-sm-3 pb-sm-4">
      <p class="font-roboto text-white mb-sm-2">Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="d-flex d-sm-block">
        <li class="mr-7 mr-sm-0 mb-sm-2"><a href="#" class="fs-9 fs-sm-8 text-white hover">隱私權政策</a></li>
        <li><a href="#" class="fs-9 fs-sm-8 text-white hover">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>