.menu {
  display: flex;

  &-item {
    width: 33.333333%;
    border: 1px solid $light-gray;
  }

  &-link {
    color: $black;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 500;
    padding: 24px 0;
    border-bottom: 8px solid transparent;

    @include pad {
      font-size: 24px;
      padding: 16px 0;
    }

    @include mobile{
      font-size: 16px;
    }

    &:hover {
      border-bottom: 8px solid $primary;
    }

    &.active {
      border-bottom: 8px solid $primary;
    }
  }
}