<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>眼鏡官網</title>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
</head>
<body>
  <%- include('./layout/header'); -%>

  <section class="banner">
    <div class="container text-secondary d-flex flex-column justify-content-center align-items-end h-100">
      <p class="fs-4 fs-sm-8">Promise-Desert 2020 早春系列</p>
      <h2 class="fs-1 fs-sm-6 fw-bold mb-1 mb-sm-2">看得清，才能看得遠</h2>
      <a href="#" class="btn-sm btn-primary fs-7 fw-medium">立即購買</a>
    </div>
  </section>
  <main>
    <section class="bg-pink">
      <div class="container py-11 py-sm-6">
        <h2 class="fs-2 fs-sm-6 fw-bold text-secondary text-center mb-4">用專業的心，做專業的事</h2>
        <ul class="row">
          <li class="col-3 col-md-6 col-sm-12 mb-md-4">
            <img src="../assets/images/home-section2-1.png" alt="coin" class="feature-img mx-auto mb-3">
            <h3 class="fs-6 fw-bold text-secondary text-center mb-2">單一價格</h3>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="col-3 col-md-6 col-sm-12 mb-md-4">
            <img src="../assets/images/home-section2-2.png" alt="clock" class="feature-img mx-auto mb-3">
            <h3 class="fs-6 fw-bold text-secondary text-center mb-2">20 分鐘即可取件</h3>
            <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li class="col-3 col-md-6 col-sm-12 mb-sm-4">
            <img src="../assets/images/home-section2-3.png" alt="heart" class="feature-img mx-auto mb-3">
            <h3 class="fs-6 fw-bold text-secondary text-center mb-2">安心售後服務</h3>
            <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <img src="../assets/images/home-sectioin2-4.png" alt="glasses" class="feature-img mx-auto mb-3">
            <h3 class="fs-6 fw-bold text-secondary text-center mb-2">單一價格</h3>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="container text-center py-11 py-sm-6">
      <h2 class="fs-2 fs-sm-6 fw-bold text-secondary mb-7 mb-sm-4">經典系列鏡框</h2>
      <ul class="row justify-content-md-center">
        <li class="col-4 col-md-12 mb-md-4">
          <img src="../assets/images/home-section3-1.png" alt="OPTICAL" class="classic-img mx-auto mb-2">
          <h3 class="font-roboto fs-2 fw-black fst-italic text-primary">OPTICAL</h3>
        </li>
        <li class="col-4 col-md-12 mb-md-4">
          <img src="../assets/images/home-section3-2.png" alt="SUNGLASSES" class="classic-img mx-auto mb-2">
          <h3 class="font-roboto fs-2 fw-black fst-italic text-primary">SUNGLASSES</h3>
        </li>
        <li class="col-4 col-md-12">
          <img src="../assets/images/home-section3-3.png" alt="FUNCTIONAL" class="classic-img mx-auto mb-2">
          <h3 class="font-roboto fs-2 fw-black fst-italic text-primary">FUNCTIONAL</h3>
        </li>
      </ul>
    </section>
    <section class="bg">
      <div class="container py-11 py-sm-6">
        <h2 class="fs-2 fs-sm-6 fw-bold text-white text-center mb-7 mb-sm-4">聯名設計鏡框</h2>
        <ul class="d-flex flex-md-column align-items-md-center">
          <li class="mb-md-4">
            <img src="../assets/images/home-section4-1.png" alt="DOUBLE A+" class="joint-img d-sm-none">
            <img src="../assets/images/home-section4-1-sm.png" alt="DOUBLE A+" class="joint-img d-none d-sm-block">
            <h3 class="bg-white font-roboto fs-2 fw-black fst-italic text-primary text-center py-2">DOUBLE A+</h3>
          </li>
          <li>
            <img src="../assets/images/home-section4-2.png" alt="YOUTH" class="joint-img d-sm-none">
            <img src="../assets/images/home-section4-2-sm.png" alt="DOUBLE A+" class="joint-img d-none d-sm-block">
            <h3 class="bg-white font-roboto fs-2 fw-black fst-italic text-primary text-center py-2">YOUTH</h3>
          </li>
        </ul>
      </div>
    </section>
    <section class="container py-11 py-sm-6">
      <h2 class="fs-2 fs-sm-6 fw-bold text-secondary text-center mb-7 mb-sm-4">顧客推薦</h2>
      <ul class="row">
        <li class="col-3 col-md-6 col-sm-12 mb-md-4 mb-sm-3">
          <div class="card border-1 rounded shadow d-flex flex-column h-100">
            <img src="../assets/images/home-section5-1.png" alt="customer" class="w-sm-100">
            <div class="card-body d-flex flex-column justify-content-between flex-grow-1 px-3">
              <div class="mb-10">
                <p class="fw-medium mb-2">Jessy</p>
                <p>眼鏡品質優良，下次還會想來這邊購買！</p>
              </div>
              <time class="fs-9 text-gray">2021/06/20</time>
            </div>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 mb-md-4 mb-sm-3">
          <div class="card border-1 rounded shadow d-flex flex-column h-100">
            <img src="../assets/images/home-section5-2.png" alt="customer" class="w-sm-100">
            <div class="card-body d-flex flex-column justify-content-between flex-grow-1 px-3">
              <div class="mb-10">
                <p class="fw-medium mb-2">凱倫</p>
                <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
              </div>
              <time class="fs-9 text-gray">2021/04/18</time>
            </div>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12 mb-sm-3">
          <div class="card border-1 rounded shadow d-flex flex-column h-100">
            <img src="../assets/images/home-section5-3.png" alt="customer" class="w-sm-100">
            <div class="card-body d-flex flex-column justify-content-between flex-grow-1 px-3">
              <div class="mb-10">
                <p class="fw-medium mb-2">悠悠</p>
                <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
              </div>
              <time class="fs-9 text-gray">2020/12/25</time>
            </div>
          </div>
        </li>
        <li class="col-3 col-md-6 col-sm-12">
          <div class="card border-1 rounded shadow d-flex flex-column h-100">
            <img src="../assets/images/home-section5-4.png" alt="customer" class="w-sm-100">
            <div class="card-body d-flex flex-column justify-content-between flex-grow-1 px-3">
              <div class="mb-10">
                <p class="fw-medium mb-2">Kyuan</p>
                <p>服務很好，品質沒有任何問題，非常喜歡。</p>
              </div>
              <time class="fs-9 text-gray">2020/10/31</time>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section class="bg-pink">
      <div class="container py-11 py-sm-6">
        <div class="row">
          <div class="col-6 col-md-10 col-sm-12 mx-auto">
            <h2 class="fs-2 fs-sm-6 fw-bold text-secondary text-center mb-7 mb-md-4">聯絡我們</h2>
            <p class="fs-7 fs-md-8 mb-4">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
            <form>
              <div class="mb-3">
                <label for="name" class="form-label mb-2">姓名</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="陳小明">
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label mb-2">聯絡電話</label>
                <input type="tel" class="form-control" name="phone" id="phone" placeholder="0912-345-678">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label mb-2">電子郵件</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="example@email.com">
              </div>
              <div class="mb-3">
                <label for="message" class="form-label mb-2">意見反應</label>
                <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="請輸入您的意見"></textarea>
              </div>
              <div class="mb-7 mb-sm-4 d-flex align-items-sm-start">
                <input type="checkbox" class="form-check-sm-input" name="agree" id="agree">
                <label for="agree" class="form-label">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
              </div>
              <button type="button" class="btn btn-primary btn-width fs-8 fw-bold d-block w-sm-100 mx-auto">確認送出</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>
</html>