<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>眼鏡官網 | 系列鏡框</title>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
</head>
<body>
  <%- include('./layout/header'); -%>

  <div class="container p-md-0">
    <ul class="menu text-center">
      <li class="menu-item"><a href="product.html" class="menu-link">OPTICAL</a></li>
      <li class="menu-item"><a href="product-sunglasses.html" class="menu-link active">SUNGLASSES</a></li>
      <li class="menu-item"><a href="#" class="menu-link">FUNCTIONAL</a></li>
    </ul>
  </div>
  <ul class="d-flex">
    <li class="w-50">
      <img src="../assets/images/product-header-3.png" alt="product-banner" class="d-md-none">
      <img src="../assets/images/product-header-sm-3.png" alt="product-banner" class="d-none d-md-block w-100">
    </li>
    <li class="w-50">
      <img src="../assets/images/product-header-4.png" alt="product-banner" class="d-md-none">
      <img src="../assets/images/product-header-sm-4.png" alt="product-banner" class="d-none d-md-block w-100">
    </li>
  </ul>
  <main>
    <div class="container py-11 pt-sm-6 pb-sm-9">
      <h2 class="font-roboto fs-3 fs-sm-6 fw-medium text-center">2020 NEW COLLECTION</h2>
      <p class="fs-5 fs-sm-6 text-center mb-5 mb-sm-4">賽璐珞鈦金屬混合鏡框</p>
      <ul class="row mb-11 mb-sm-9">
        <li class="col-4 col-md-6 col-sm-12 mb-11 mb-md-6 mb-sm-4">
          <img src="../assets/images/product-7.png" alt="product">
          <div class="d-flex justify-content-between font-roboto">
            <h3 class="fs-6">BJ41600S</h3>
            <span class="fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="d-flex">
            <li class="color-item mr-2"></li>
            <li class="color-item"></li>
          </ul>          
        </li>
        <li class="col-4 col-md-6 col-sm-12 mb-11 mb-md-6 mb-sm-4">
          <img src="../assets/images/product-8.png" alt="product">
          <div class="d-flex justify-content-between font-roboto">
            <h3 class="fs-6">BJ41600S</h3>
            <span class="fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="d-flex">
            <li class="color-item mr-2"></li>
            <li class="color-item"></li>
          </ul>          
        </li>
        <li class="col-4 col-md-6 col-sm-12 mb-11 mb-md-6 mb-sm-4">
          <img src="../assets/images/product-9.png" alt="product">
          <div class="d-flex justify-content-between font-roboto">
            <h3 class="fs-6">BJ41600S</h3>
            <span class="fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="d-flex">
            <li class="color-item mr-2"></li>
            <li class="color-item"></li>
          </ul>          
        </li>
        <li class="col-4 col-md-6 col-sm-12 mb-md-6 mb-sm-4">
          <img src="../assets/images/product-10.png" alt="product">
          <div class="d-flex justify-content-between font-roboto">
            <h3 class="fs-6">BJ41600S</h3>
            <span class="fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="d-flex">
            <li class="color-item mr-2"></li>
            <li class="color-item"></li>
          </ul>          
        </li>
        <li class="col-4 col-md-6 col-sm-12 mb-sm-4">
          <img src="../assets/images/product-11.png" alt="product">
          <div class="d-flex justify-content-between font-roboto">
            <h3 class="fs-6">BJ41600S</h3>
            <span class="fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="d-flex">
            <li class="color-item mr-2"></li>
            <li class="color-item"></li>
          </ul>          
        </li>
        <li class="col-4 col-md-6 col-sm-12">
          <img src="../assets/images/product-12.png" alt="product">
          <div class="d-flex justify-content-between font-roboto">
            <h3 class="fs-6">BJ41600S</h3>
            <span class="fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="d-flex">
            <li class="color-item mr-2"></li>
            <li class="color-item"></li>
          </ul>          
        </li>
      </ul>
      <ul class="pagination justify-content-center">
        <li><a href="#" class="page-link">上一頁</a></li>
        <li><a href="#" class="page-link">1</a></li>
        <li><a href="#" class="page-link active">2</a></li>
        <li><a href="#" class="page-link">3</a></li>
        <li><a href="#" class="page-link">4</a></li>
        <li><a href="#" class="page-link">5</a></li>
        <li><a href="#" class="page-link next-page">下一頁</a></li>
      </ul>
    </div>
  </main>

  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>
</html>