<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>眼鏡官網 | 門市據點</title>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
</head>
<body>
  <%- include('./layout/header'); -%>

  <main>
    <div class="container pt-12 pb-11 pt-md-11 pt-sm-6 pb-sm-9">
      <h2 class="fs-2 fs-sm-6 fw-bold mb-5 mb-sm-4 border-left-8 border-red pl-3">門市據點</h2>
      <div class="d-flex align-items-center mb-6 mb-sm-4">
        <label for="area" class="form-label fs-6 fs-sm-8 mr-3 mr-sm-2">選擇地區</label>
        <select class="form-select" name="area" id="area">
          <option value="台北市">台北市</option>
          <option value="新北市">新北市</option>
          <option value="台中市">台中市</option>
          <option value="台南市">台南市</option>
          <option value="高雄市">高雄市</option>
        </select>
      </div>
      <ul class="row">
        <li class="col-4 col-md-6 col-sm-12 mb-7 mb-md-4">
          <div class="card text-dark-gray">
            <img src="../assets/images/store-1.png" alt="store">
            <div class="card-header border-1">
              <h3>台北中山旗艦店</h3>
            </div>
            <ul class="card-body border-1 fs-7">
              <li class="d-flex align-items-center mb-2">
                <span class="material-icons-outlined mr-2">phone</span>
                <p>電話：(02)000-1234</p>
              </li>
              <li class="d-flex align-items-center mb-2">
                <span class="material-icons-outlined mr-2">schedule</span>
                <p>營業時間：10:00-21:00</p>
              </li>
              <li class="d-flex">
                <span class="material-icons-outlined mr-2">place</span>
                <p>地址：台北市中山區南京東路25巷2-1號</p>
              </li>
            </ul>
            <a href="store-info.html" class="btn btn-black fs-7 text-center">詳細資訊</a>
          </div>
        </li>
        <li class="col-4 col-md-6 col-sm-12 mb-7 mb-md-4">
          <div class="card text-dark-gray">
            <img src="../assets/images/store-2.png" alt="store">
            <div class="card-header border-1">
              <h3>台北綠園店</h3>
            </div>
            <ul class="card-body border-1 fs-7">
              <li class="d-flex align-items-center mb-2">
                <span class="material-icons-outlined mr-2">phone</span>
                <p>電話：(02)000-2345</p>
              </li>
              <li class="d-flex align-items-center mb-2">
                <span class="material-icons-outlined mr-2">schedule</span>
                <p>營業時間：10:00-21:00</p>
              </li>
              <li class="d-flex">
                <span class="material-icons-outlined mr-2">place</span>
                <p>地址：台北市中正區復興南路 132-1 號</p>
              </li>
            </ul>
            <a href="store-info.html" class="btn btn-black fs-7 text-center">詳細資訊</a>
          </div>
        </li>
        <li class="col-4 col-md-6 col-sm-12 mb-7 mb-md-4">
          <div class="card text-dark-gray">
            <img src="../assets/images/store-3.png" alt="store">
            <div class="card-header border-1">
              <h3>台中清水旗艦店</h3>
            </div>
            <ul class="card-body border-1 fs-7">
              <li class="d-flex align-items-center mb-2">
                <span class="material-icons-outlined mr-2">phone</span>
                <p>電話：(02)000-1234</p>
              </li>
              <li class="d-flex align-items-center mb-2">
                <span class="material-icons-outlined mr-2">schedule</span>
                <p>營業時間：10:00-21:00</p>
              </li>
              <li class="d-flex">
                <span class="material-icons-outlined mr-2">place</span>
                <p>地址：台中市清水區經南一路 23 號 8 樓</p>
              </li>
            </ul>
            <a href="store-info.html" class="btn btn-black fs-7 text-center">詳細資訊</a>
          </div>
        </li>
        <li class="col-4 col-md-6 col-sm-12 mb-md-4">
          <div class="card text-dark-gray">
            <img src="../assets/images/store-4.png" alt="store">
            <div class="card-header border-1">
              <h3>高雄中正形象店</h3>
            </div>
            <ul class="card-body border-1 fs-7">
              <li class="d-flex align-items-center mb-2">
                <span class="material-icons-outlined mr-2">phone</span>
                <p>電話：(07)000-2345</p>
              </li>
              <li class="d-flex align-items-center mb-2">
                <span class="material-icons-outlined mr-2">schedule</span>
                <p>營業時間：10:00-21:00</p>
              </li>
              <li class="d-flex">
                <span class="material-icons-outlined mr-2">place</span>
                <p>地址：高雄市苓雅區中正路 38 號 12 樓</p>
              </li>
            </ul>
            <a href="store-info.html" class="btn btn-black fs-7 text-center">詳細資訊</a>
          </div>
        </li>
        <li class="col-4 col-md-6 col-sm-12">
          <div class="card text-dark-gray">
            <img src="../assets/images/store-5.png" alt="store">
            <div class="card-header border-1">
              <h3>高雄夢時代店</h3>
            </div>
            <ul class="card-body border-1 fs-7">
              <li class="d-flex align-items-center mb-2">
                <span class="material-icons-outlined mr-2">phone</span>
                <p>電話：(07)000-1234</p>
              </li>
              <li class="d-flex align-items-center mb-2">
                <span class="material-icons-outlined mr-2">schedule</span>
                <p>營業時間：10:00-21:00</p>
              </li>
              <li class="d-flex">
                <span class="material-icons-outlined mr-2">place</span>
                <p>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
              </li>
            </ul>
            <a href="store-info.html" class="btn btn-black fs-7 text-center">詳細資訊</a>
          </div>
        </li>
      </ul>
    </div>
  </main>

  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>
</html>